SECRET_KEY='django-security'
DB_USER=
DB_PASSWORD=databasePassword
DB_PORT=dbPort
DB_HOST=dbHost
DB_NAME=schemaName
EMAIL_HOST=emailHost
EMAIL_PORT=emailHostPort
EMAIL_HOST_USER=emailHostUsername
EMAIL_HOST_PASSWORD=emailHostPassword
DEFAULT_FROM_EMAIL=emailSenderMail
PAYSTACK_PUBLIC_API=paystackpublickey
PAYSTACK_SECRET_KEY=paystacksecretekey
PAYSTACK_INITIATE_URL=